<div class="Login">
    <form class="custom-form">
      <div>
        <img class="imagen" src="./assets/img/ImgLogin.png" alt="">
      </div>
  
      <div class="example-container">
       
          <input type="text" [(ngModel)]="Nombre" name="Nombre" placeholder="Nombre" required="required" />

        <div class="row">
          <div class="col-10">
            <input [type]="hide ? 'password' : 'text'" [(ngModel)]="Password" name="Password" placeholder="Password"
            required="required" />
          </div>
          <div class="col-2 align-self-center">
            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" >
              <i (click)="hide = !hide" class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </button>
          </div>
        </div>
         
     

  
      </div>
      <button type="submit" class="btn btn-success" (click)="login()"><i class="material-icons">login</i> Ingresar </button>
    </form>
  </div>



