<div class="main-content">
    <div class="container-fluid border">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Traslado De Bodega</h4>
                        <p class="card-category">Traslados de una bodega a otra </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Descripcion" type="textarea">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Fecha" type="date">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-9">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Producto" type="text">
                                        </mat-form-field>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <hr />
                        <form [formGroup]="trasladoFormgroup">
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="row">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Bodegas Salida</mat-label>
                                            <mat-select formControlName="bodegaSalida">
                                                <mat-option *ngFor="let obtenerBodega of obtenerBodegas"
                                                    [value]="obtenerBodega.direccion">
                                                    {{obtenerBodega.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>


                                    </div>
                                    <div class="row">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Existencia" type="number" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Cantidad" type="number">
                                        </mat-form-field>
                                    </div>



                                </div>
                                <div class="col-md-2">

                                    <button type="submit" class="btn btn-success" onclick="calcRoute()"><i
                                            class="material-icons">trending_flat</i> Enviar
                                    </button>

                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Bodegas Ingreso</mat-label>
                                            <mat-select formControlName="bodegaIngreso">
                                                <mat-option *ngFor="let obtenerBodega of obtenerBodegas"
                                                    [value]="obtenerBodega.direccion">
                                                    {{obtenerBodega.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Existencia" type="number" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div class="col-12 border">
                                    <div class="card">
                                        <app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading>
                                        <ng-template #mapReady>
                                            <app-map-view></app-map-view>
                                            <app-search-bar></app-search-bar>
                                        </ng-template>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>