table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  
  .noHayExistencias {
    color:white;
    background-color:red;
}

.existencia {
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: green;
}